


@media(min-width:576px){



}


@media(min-width:768px){

    .content-item {
        display: block;
    }

}


@media(min-width:992px){

    .lead-text {
        font-size: 60px;
    }
    
    .content-item {
        display: block;
    }

    .calc-skin {
        text-align: left !important;
    }
}





@media(min-width:1200px){
    .bg-section {
        padding-top: 50px !important;
    }
}