*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.bg-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.lead-p {
    font-family: 'Montserrat', sans-serif;
    animation-delay: 1s;
}

.lead-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: linear-gradient(to bottom, rgba(187, 0, 255, 0.7), rgba(241, 62, 62, 0.7));
    animation-delay: 0.5s;
}

.content {
   /* background: rgba(0, 0, 0, 0.5);
    border-radius: 3%;
    box-shadow: -7px 7px 30px 3px #888888;*/
    
}

.content-item {
    display: none;
}

.content-item p {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.big-p {
    font-size: 40px !important;
}

.medium-p {
    font-size: 30px;
    font-weight: bold;
}

.first-p {
    animation-delay: 1.5s;
}

.second-p {
    animation-delay: 2s;
}

.third-p {
    animation-delay: 2.5s;
}

.fourth-p {
    animation-delay: 3s;
}

.fift-p {
    animation-delay: 3.5s;
}

.calc-skin {
    border-radius: 20px;
    box-shadow: 0px 0px 70px 1px #fff;
    /*box-shadow: -7px 7px 30px 3px #888888;*/
    
}

.calc-bg {
    border-radius: 15px;;
}

nav a {
    font-size: 10px;
    text-decoration: none !important;
}

nav a:hover {
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #fff;
}

.suma {
    font-size: 40px;
    border: none ;
}

input.suma::placeholder {
    color: #fff;
}

.calc-field {
    border: none;
}

input.calc-field::placeholder {
    color: #000;
}

button{
    width: 45px;
    height: 40px;
    font-size: 18px;
    line-height: 34px;
    vertical-align: top;
    background: #f0f0f0;
    margin-bottom: 10px;
    cursor:pointer;
    display: inline-block;
    border-radius: 50%;
    border: none !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
}

button:focus {
    outline: none;
    outline: -3px auto -webkit-focus-ring-color;
}

.hvr-bounce-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

input{
    height: 40px;
    border:1px solid #000;
    padding: 0 5px;
    vertical-align: top;
    background: #f2f2f2;
    font-size: 24px;
    width: 240px;
    margin-bottom: 10px;
    color:#000;
}
.long{
    width: 95px;
    border-radius: 20px !important;
}
.opp{
    background: orange;
    color:#fff;
}
